body{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
body > * {
    margin: 10px;
}

.center{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#game > * {
    margin: 10px;
}
#groupForm > * {
    margin: 1px;
}
#groupForm{
    min-height: 500px;
}




#chat{
    min-height: 300px;
    display: flex;
    flex-direction: column-reverse;
}
#messages { list-style-type: none; margin: 0; padding: 0; }
#messages li { padding: 5px 10px; }
#messages li:nth-child(odd) { background: #eee; }