body{
    display: flex;
    flex-direction: row;
}
body > * {
    margin: 10px;
}



#chat{
    min-height: 300px;
    display: flex;
    flex-direction: column-reverse;
}
#messages { list-style-type: none; margin: 0; padding: 0; }
#messages li { padding: 5px 10px; }
#messages li:nth-child(odd) { background: #eee; }